{% if full_input_file_path %}
from rsopt import util
m = util.run_path_as_module('{{full_input_file_path}}')
{% else %}
import {{ input_module_name }} as m
{% endif %}

input_dict = {
{% for key, value in dict_item.items() %}
    '{{key}}': {{value}},
{% endfor %}
{% for key, value in dict_item_str.items() %}
    '{{key}}': '{{value}}'{% if not loop.last %},{% endif %}
{% endfor %}
}

m.{{function}}(**input_dict)