codes:
  - python:
      parameters:
        x1:
          min: 0.
          max: 3.14
          start: 1.0
        x2:
          min: 0.
          max: 3.14
          start: 1.0
      setup:
        input_file: tnk_function.py
        function: tnk
        execution_type: serial
options:
  nworkers: 2
  software: mobo
  software_options:
    use_cuda: False
    num_of_objectives: 2
    min_calc_to_remodel: 3  # if min_calc_to_remodel == nworkers - 1 then model update is synchronous
    constraints:
      c1: ['GREATER_THAN', 0]
      c2: ['LESS_THAN', 0.5]
    reference_point:
      x1: 1.4
      x2: 1.4
  exit_criteria:
    sim_max: 22
  output_file: mobo_example_results